*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.navcolor{
    background-color: rgb(48, 48, 141 );
}   
.ulstyle{
    list-style: none;
    color: rgb(255, 255, 255);
    gap: 30px;
    margin-top: 10px;
    font-size: larger;
}
